/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$gruvbox-light-bg0};
  --global-code-bg-color: #{$gruvbox-light-bg0-s};
  --global-text-color: #{$gruvbox-light-fg1};
  --global-text-color-light: #{$gruvbox-light-fg4};
  --global-theme-color: #{$gruvbox-light-orange};
  --global-hover-color: #{$gruvbox-light-orange};
  --global-hover-text-color: #{$gruvbox-light-bg0};
  --global-footer-bg-color: #{$gruvbox-light-fg1};
  --global-footer-text-color: #{$gruvbox-light-bg1};
  --global-footer-link-color: #{$gruvbox-light-bg0};
  --global-distill-app-color: #{$gruvbox-light-fg4};
  --global-divider-color: rgba(60, 56, 54, 0.15);
  --global-card-bg-color: #{$gruvbox-light-bg0-h};
  --global-highlight-color: #{$gruvbox-light-red};
  --global-back-to-top-bg-color: rgba(60, 56, 54, 0.4);
  --global-back-to-top-text-color: #{$gruvbox-light-bg0};
  --global-newsletter-bg-color: #{$gruvbox-light-bg0};
  --global-newsletter-text-color: #{$gruvbox-light-fg1};

  --global-tip-block: #{$gruvbox-light-green};
  --global-tip-block-bg: #{$gruvbox-light-bg0-s};
  --global-tip-block-text: #{$gruvbox-light-fg1};
  --global-tip-block-title: #{$gruvbox-light-green};
  --global-warning-block: #{$gruvbox-light-yellow};
  --global-warning-block-bg: #{$gruvbox-light-bg0-s};
  --global-warning-block-text: #{$gruvbox-light-fg1};
  --global-warning-block-title: #{$gruvbox-light-yellow};
  --global-danger-block: #{$gruvbox-light-red};
  --global-danger-block-bg: #{$gruvbox-light-bg0-s};
  --global-danger-block-text: #{$gruvbox-light-fg1};
  --global-danger-block-title: #{$gruvbox-light-red};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$gruvbox-dark-bg0};
  --global-code-bg-color: #{$gruvbox-dark-bg1};
  --global-text-color: #{$gruvbox-dark-fg1};
  --global-text-color-light: #{$gruvbox-dark-fg4};
  --global-theme-color: #{$gruvbox-dark-orange};
  --global-hover-color: #{$gruvbox-dark-orange};
  --global-hover-text-color: #{$gruvbox-dark-bg0};
  --global-footer-bg-color: #{$gruvbox-dark-bg0-h};
  --global-footer-text-color: #{$gruvbox-dark-fg4};
  --global-footer-link-color: #{$gruvbox-dark-fg1};
  --global-distill-app-color: #{$gruvbox-dark-fg4};
  --global-divider-color: #{$gruvbox-dark-bg2};
  --global-card-bg-color: #{$gruvbox-dark-bg0-s};
  --global-highlight-color: #{$gruvbox-dark-red};
  --global-back-to-top-bg-color: rgba(235, 219, 178, 0.5);
  --global-back-to-top-text-color: #{$gruvbox-dark-bg0};
  --global-newsletter-bg-color: #{$gruvbox-dark-bg1};
  --global-newsletter-text-color: #{$gruvbox-dark-fg1};

  --global-tip-block: #{$gruvbox-dark-green};
  --global-tip-block-bg: #{$gruvbox-dark-bg0-s};
  --global-tip-block-text: #{$gruvbox-dark-fg1};
  --global-tip-block-title: #{$gruvbox-dark-green};
  --global-warning-block: #{$gruvbox-dark-yellow};
  --global-warning-block-bg: #{$gruvbox-dark-bg0-s};
  --global-warning-block-text: #{$gruvbox-dark-fg1};
  --global-warning-block-title: #{$gruvbox-dark-yellow};
  --global-danger-block: #{$gruvbox-dark-red};
  --global-danger-block-bg: #{$gruvbox-dark-bg0-s};
  --global-danger-block-text: #{$gruvbox-dark-fg1};
  --global-danger-block-title: #{$gruvbox-dark-red};

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
