/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Gruvbox palette (https://github.com/morhetz/gruvbox)
$gruvbox-dark-bg0-h: #1d2021;
$gruvbox-dark-bg0: #282828;
$gruvbox-dark-bg0-s: #32302f;
$gruvbox-dark-bg1: #3c3836;
$gruvbox-dark-bg2: #504945;
$gruvbox-dark-fg1: #ebdbb2;
$gruvbox-dark-fg4: #a89984;
$gruvbox-dark-gray: #928374;
$gruvbox-dark-red: #fb4934;
$gruvbox-dark-green: #b8bb26;
$gruvbox-dark-yellow: #fabd2f;
$gruvbox-dark-orange: #fe8019;

$gruvbox-light-bg0-h: #f9f5d7;
$gruvbox-light-bg0: #fbf1c7;
$gruvbox-light-bg0-s: #f2e5bc;
$gruvbox-light-bg1: #ebdbb2;
$gruvbox-light-fg1: #3c3836;
$gruvbox-light-fg4: #7c6f64;
$gruvbox-light-red: #9d0006;
$gruvbox-light-green: #79740e;
$gruvbox-light-yellow: #b57614;
$gruvbox-light-orange: #af3a03;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
